{%extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header  ">
          <h3 class="card-title1 text-center text-success">نتيجة البحث </h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0 text-right">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>السنة</th>
                <th>الفترة</th>
                <th>القيمة</th>
                <th >من</th>
                <th >إلى</th>
                <th >التسويات</th>
                <th >إسم الجهة</th>                
                <th>رقم الفاتورة</th>
              </tr>
            </thead>
            <tbody>
              
              {% for i  in  invoices %}
              <tr>
                <td><span class="tag tag-success">{{i.tyear}}</span></td>
                <td>{{i.proid}}</td>
                <td>{{i.invoice_amount|intcomma }}</td>
                <td>{{i.balance_to|date:'Y-m-d'}}</td>
                <td>{{i.from_date|date:'Y-m-d'}}</td>
                <td>{{i.balance|intcomma}}</td>
                <td>{{i.customer_name}}</td>                                                                
                <td>{{i.Invoice_no|default_if_none:'لايوجد'}}</td>
              </tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-success">
            <!-- <i class="fas fa-list-alt "></i> -->
            <i class="far fa-chart-bar"></i>
            إجمالي قيمة الفواتير
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body text-center">
          <!-- <h2 class="text-success">المجموع :{{total|intcomma}}</h2> -->
          <a class="btn btn-outline-info" href="javascript:history.back()">العودة الى التقرير</a>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>

    
{% endblock %}
