{%extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <div class="row">
    <div class="col-12">
      <!-- /.card -->
      <div class="card-body table-responsive p-0 text-center" style="height: 300px;">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>السنة</th>
              <th>الفترة</th>
              <th>القيمة</th>
              <th >من</th>
              <th >إلى</th>
              <th >التسويات</th>
              <th >إسم الجهة</th>                
              <th>رقم الفاتورة</th>
          </tr>
          </thead>
          <tbody>
            {% for i  in  invoices %}
            <tr>
              <td><span class="tag tag-success">{{i.tyear}}</span></td>
              <td>{{i.proid}}</td>
              <td>{{i.invoice_amount|intcomma }}</td>
              <td>{{i.balance_to|date:'Y-m-d'}}</td>
              <td>{{i.from_date|date:'Y-m-d'}}</td>
              <td>{{i.balance|intcomma}}</td>
              <td><a href="{% url 'invoice_detail' i.id  %}"  id="invoice_detail">{{i.customer_id}}</a></td>                                                                
              <td>{{i.Invoice_no|default_if_none:'لايوجد'}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-success">
            <!-- <i class="fas fa-list-alt "></i> -->
            <i class="far fa-chart-bar"></i>
            إجمالي قيمة الفواتير
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body text-center">
          <!-- <h2 class="text-success">المجموع :{{total|intcomma}}</h2> -->
          <a class="btn btn-outline-info" href="javascript:history.back()">العودة الى التقرير</a>
        </div>
        <!-- /.card-body -->
      </div>
  
    </div>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      
    });
  </script>
  
{% endblock %}
