{% extends 'base.html' %}
{% load static %}
{% load humanize  %}

{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header ">
            <h3 class="card-title ">قائمة إيصالات القبض</h3>
          </div>
          <div class="card-body ">
            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                    aria-describedby="example2_info">
                    <thead>
                      <tr role="row">
                        <th>
                        </th>
                        <th style="width: 20%" class="text-center">
                          ملاحظات
                        </th>
                        <th style="width: 10%" class="text-right">
                          القيمة
                        </th>
                        <th style="width: 10%">
                          التاريخ
                        </th>
                        <th style="width: 10%">
                          رقم الإيصال
                        </th>
                        <th style="width: 20%">
                          إسم الجهة
                        </th>
                      </tr>
                    </thead>
                    {% for receipt in page_obj %}
                    <tbody>
                      <tr>
                        <td class="project-actions text-right">
                          <a class="btn btn-danger btn-sm" href="{% url 'delete_receipt' receipt.id %}">
                            <i class="fas fa-trash">
                            </i>
                            حذف
                          </a>

                          <a class="btn btn-info btn-sm" href="{% url 'edit_receipt' receipt.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            تعديل
                          </a>
                        </td>

                        <td>
                          {{receipt.notes}}
                        </td>
                        <td>
                          {{receipt.receipt_amount|intcomma}}
                        </td>
                        <td>
                          <a>
                            {{receipt.receipt_date|date:'Y-m-d'}}
                          </a>
                          <br />
                        </td>
                        <td>
                          {{receipt.receipt_no}}
                        </td>
                        <td>
                          {{receipt.customer_name}}
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                      <tr>
                        <th rowspan="1" colspan="1"></th>
                        <th rowspan="1" colspan="1">ملاحظات</th>
                        <th rowspan="1" colspan="1">القيمة</th>
                        <th rowspan="1" colspan="1">التاريخ</th>
                        <th rowspan="1" colspan="1">رقم الإيصال</th>
                        <th rowspan="1" colspan="1">إسم الجهة</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    {% if page_obj.has_other_pages %}
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="paginate_button page-item"><a class="page-link" href="?page=1">«</a></li>
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.previous_page_number }}">السابق</a>
                      </li>
                      {% endif %}
                      {% for i in page_obj.paginator.page_range %}
                      {% if page_obj.number == i %}
                      <li class="paginate_button page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a>
                      </li>
                      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}

                      <li class="paginate_button page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                      {% endif %}

                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.next_page_number }}">التالي</a>
                      </li>
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.paginator.num_pages }}">»</a>
                      </li>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>


<script src="{% static 'js/adminlte.min.js' %}"></script>

<script src="{% static 'js/demo.js' %}"></script> -->
{% endblock content %}