{% extends 'base.html' %}
{% load static %}
{% load humanize  %}

{% block content %}

<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card text-center">
          <div class="card-header ">
            <h3 class="card-title ">قائمة إيصالات القبض</h3>
          </div>
          <div class="card-body ">
            <form action="{% url 'casa_search' %}" method="POST">
              {% csrf_token %}
              <div class="row text-right">
                <div class="col-2">
                  <label>السنة</label>
                  <select
                    class="form-control select2 text-right"
                    style="width: 100%"
                    id="year"
                    name="year"
                  >
                    <option value="0">الكل</option>
                    {% for year in year_search %}
                    <option value="{{year}}">{{year}}</option>  
                    {% endfor %}
                  </select>

                </div>
                <div class="col-2">
                  <label>الفترة</label>
                  <select
                    class="form-control select2 text-right"
                    style="width: 100%"
                    id="priod"
                    name="priod"
                  >
                    <option value="0">الكل</option>
                    <option value="1">الفترة الأولى</option>
                    <option value="2">الفترة الثانية</option>
                    <option value="3">الفترة الثالثة</option>
                    <option value="4">الفترة الرابعة</option>
                  </select>
                </div>
                <div class="col-md-5">
                  <label>إسم الجهة</label>
                  <select
                    class="form-control select2 text-right"
                    style="width: 100%"
                    id="customer_name"
                    name="customer_name"
                  >
                    <option class="text-info" value="0">الكل</option>
                    {% for customer in customers %}
                    <option value="{{customer.id}}">
                      {{customer.customer_name}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-3">
                  <label>رقم الإيصال</label>
                  <input
                    type="text"
                    class="form-control text-right"
                    placeholder="أدخل رقم الإيصال"
                    id="receipt_no"
                    name="receipt_no"
                  />
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6 offset-md-6">
                  <button type="submit" class="btn bg-gradient-primary btn-lg">
                    بحث
                  </button>
                </div>
              </div>
            </form>


            <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                    aria-describedby="example2_info">
                    <thead>
                      <tr role="row">
                        <th>
                        </th>
                        <th style="width: 20%" class="text-center">
                          ملاحظات
                        </th>
                        <th style="width: 10%" class="text-right">
                          القيمة
                        </th>
                        <th style="width: 10%">
                          التاريخ
                        </th>
                        <th style="width: 5%">
                          السنة
                        </th>
                        <th style="width: 5%">
                          الفترة
                        </th>
                        <th style="width: 10%">
                          رقم الإيصال
                        </th>
                        <th style="width: 20%">
                          إسم الجهة
                        </th>
                      </tr>
                    </thead>
                    {% for receipt in page_obj %}
                    <tbody>
                      <tr>
                        <td class="project-actions text-right">
                          <a class="btn btn-danger btn-sm" href="{% url 'delete_receipt' receipt.id %}">
                            <i class="fas fa-trash">
                            </i>
                            حذف
                          </a>

                          <a class="btn btn-info btn-sm" href="{% url 'edit_receipt' receipt.id %}">
                            <i class="fas fa-pencil-alt">
                            </i>
                            تعديل
                          </a>
                        </td>

                        <td>
                          {{receipt.notes}}
                        </td>
                        <td>
                          {{receipt.receipt_amount|intcomma}}
                        </td>
                        <td>
                          <a>
                            {{receipt.receipt_date|date:'Y-m-d'}}
                          </a>
                          <br />
                        </td>
                        <td>
                          {{receipt.syear}}
                        </td>
                        <td>
                          {{receipt.priod}}
                        </td>
                        <td>
                          {{receipt.receipt_no}}
                        </td>
                        <td>
                          {{receipt.customer}}
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                  </div>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                    {% if page_obj.has_other_pages %}
                    <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="paginate_button page-item"><a class="page-link" href="?page=1">«</a></li>
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.previous_page_number }}">السابق</a>
                      </li>
                      {% endif %}
                      {% for i in page_obj.paginator.page_range %}
                      {% if page_obj.number == i %}
                      <li class="paginate_button page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a>
                      </li>
                      {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}

                      <li class="paginate_button page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                      {% endif %}

                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.next_page_number }}">التالي</a>
                      </li>
                      <li class="paginate_button page-item"><a class="page-link"
                          href="?page={{ page_obj.paginator.num_pages }}">»</a>
                      </li>
                      {% endif %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}