{%extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header  ">
          <h3 class="card-title1 text-center text-success">كشف حساب   : {{ cust.customer_name }} </h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0 text-right">
          <!-- <table id="example1" class="table table-bordered table-striped"> -->
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>القيمة</th>
                <th>تاريخ الإيصال</th>
                <th>رقم الإيصال</th>
                <th>القيمة</th>
                <th>تاريخ الفاتورة</th>
                <th>رقم الفاتورة</th>
                <th>السنة</th>
                <th>الفترة</th>
              </tr>
            </thead>
            <tbody>
              
              {% for i  in  transaction %}
              <tr>
                <td class ="text-danger"><strong>{{i.receipt_amount|intcomma}}</strong> </td>
                <td></td>
                <td class ="text-danger" >{{i.receipt_no|default_if_none:'لايوجد'}}</td>
                <td>{{i.invoice_amount|intcomma}}</td>
                <td></td>
                <td><a href="{% url 'edit_invoice' i.invoice_id %}">{{i.invoice_no|default_if_none:'لايوجد'}}</a> </td>
                <td>{{i.year}}</td>
                <td>{{i.priod}}</td>
              </tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-success">
            <!-- <i class="fas fa-list-alt "></i> -->
            <i class="far fa-chart-bar"></i>
            إجمالي قيمة الفواتير
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body text-center">
          <h2 class="text-success">مجموع قيمة الفواتير :{{total_invoice}}</h2>
          <h2 class="text-info">مجموع قيمة إيصالات السداد :{{total_receipt}}</h2>
          <hr>
          
          {% if not flag %}
          <h2 class="text-danger">صافي الحساب المتبقي :{{balance}}</h2> 
          {% else %}   
          <h2 class="text-primary">لديه دفعات مقدمة تحت الحساب :{{balance}}</h2>
          {% endif %}
              
          
          <a class="btn btn-outline-info" href="javascript:history.back()">العودة الى التقرير</a>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
  
  <!-- AdminLTE App -->
  <script src="{% static 'js/adminlte.min.js' %}"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'js/demo.js' %}"></script>
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true, "lengthChange": false, "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
      
    });
  </script>
      
{% endblock %}
