{%extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header  ">
          <h3 class="card-title1 text-center text-success">كشف إيصالات السداد  : {{ cust.customer_name }} </h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0 text-right">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>السنة</th>
                <th>الفترة</th>
                <th>القيمة</th>
                <th>رقم الإيصال</th>
              </tr>
            </thead>
            <tbody>
              
              {% for i  in  customer_receipts %}
              <tr>
                <td><span class="tag tag-success">{{i.syear}}</span></td>
                <td>{{i.priod}}</td>
                <td>{{i.receipt_amount|intcomma }}</td>
                <td>{{i.receipt_no|default_if_none:'لايوجد'}}</td>
              </tr>
              {% endfor %}
                
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h2 class="card-title text-info">
            <!-- <i class="fas fa-list-alt "></i> -->
            <i class="far fa-chart-bar"></i>
            إجمالي القيم المحصلة
          </h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body text-center">
          <h2 class="text-primary"> المجموع :{{total|intcomma}}</h2>
          <hr>
          <a class="btn btn-outline-primary" href="javascript:history.back()">العودة الى التقرير</a>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>

    
{% endblock %}
