{% extends 'base.html' %}
{% load static %}
{% load humanize  %}


{% block content %}

<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class=" small-box bg-info text-right">
          <div class="inner">
            <h4>{{all_invoice_amount }}</h4>

            <p>إجمالي قيمة فواتير البيع</p>
          </div>
          <div class="icon">
            <i class="x ion ion-bag text-left"></i>
          </div>
          <a href="{% url 'invoice_list' %}" class="small-box-footer">معلومات أكثر <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success text-right">
          <div class="inner">
            <h4>{{all_receipt_amount}}<sup style="font-size: 20px"></sup></h4>

            <p>إجمالي المبالغ المحصلة</p>
          </div>
          <div class="icon">
            <i class="x ion ion-stats-bars text-left"></i>
          </div>
          <a href="{% url 'receipt_list' %}" class="small-box-footer">معلومات أكثر <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning text-right">
          <div class="inner">
            <h4>44</h4>

            <p>عدد الخدمات التي تم بيعها</p>
          </div>
          <div class="icon">
            <i class="x ion ion-cash text-left"></i>
          </div>
          <a href="#" class="small-box-footer">معلومات أكثر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger text-right">
          <div class="inner">
            <h4>{{all_customer}}</h4>

            <p>عدد الزبائن</p>
          </div>
          <div class="icon">
            <i class="x ion ion-person-add text-left"></i>
          </div>
          <a href="#" class="small-box-footer">معلومات أكثر <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <div class="col-md-6">
          <div class="card card-primary">
            <div class="card-header">
              <div class="d-flex justify-content-between">
                <a href="{% url 'sales_report' %}">عرض التقرير</a>
                <h3 class="card-title1">أكبر 5 زبائن في قيمة المبيعات</h3>      
              </div>
  
                <div class="card-tools">
                   <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                        </button>
                          <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                          </button>
                </div>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="invoice-chart" height="500" ></canvas>
                </div>
            </div>
                      <!-- /.card-body -->
          </div>
                    <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card card-success">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <a href="{% url 'receipt_report' %}">عرض التقرير</a>
              <h3 class="card-title1">إجمالي المبالغ المحصلة</h3>      
            </div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart" >
              <canvas id="receipt-chart" height="500"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="card card-info">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <a href="{% url 'total_inv_rec_report' %}">عرض التقرير</a>
              <h3 class="card-title1">إجمالي الإيرادات والمبالغ المحصلة</h3>      
            </div>
              <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                      </button>
        
              </div>
          </div>
          <div class="card-body">
              <div class="chart">
                  <canvas id="bar-chart-grouped" height="500" ></canvas>
              </div>
          </div>
                    <!-- /.card-body -->
        </div>
                  <!-- /.card -->
      </div>
      <div class="col-md-6">
        <div class="card card-success">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0);">عرض التقرير</a>
              <h3 class="card-title1 text-center">إجمالي الإيرادات حسب نوع الزبون</h3>
            </div>
              <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                 <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
                     </button>
              </div>
          </div>
          <div class="card-body">
              <div class="chart">
                  <canvas id="invoice-catagory-amount" height="500"></canvas>
              </div>
          </div>
                    <!-- /.card-body -->
        </div>
                  <!-- /.card -->
        
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <div class="card card-success">
          <div class="card-header">
              <div class="d-flex justify-content-between">
                <a href="javascript:void(0);">عرض التقرير</a>
                <h3 class="card-title1">الرسم البياني لحركة المبيعات مقارنة بالعام الماضي</h3>      
                
              </div>
              <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>

              </div>
          </div>
          <div class="card-body">
              <div class="chart">
                  <canvas id="sales-lastyeart" height="500"></canvas>
              </div>
          </div>
                    <!-- /.card-body -->
        </div>
                  <!-- /.card -->
        
      </div>
    </div>

    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<script>

  var config = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
        "rgba(255, 99, 132)",
        "rgba(54, 162, 235)",
        "rgba(255, 206, 86)",
        "rgba(75, 192, 192)",
        "rgba(153, 102, 255)",
       "rgba(255, 159, 64)",
  ],borderColor: [
  "rgba(255, 99, 132, 1)",
  "rgba(54, 162, 235, 1)",
  "rgba(255, 206, 86, 1)",
  "rgba(75, 192, 192, 1)",
  "rgba(153, 102, 255, 1)",
  "rgba(255, 159, 64, 1)",
],
borderWidth: 1,
hoverBorderWidth: 3,
hoverBorderColor: "#000",
    label: 'إجمالي المبيعات'
        }],
  labels: {{ labels|safe }}
      },
  options: {
    title: {
      display: true,
      text: "إجمالي المبيعات ",
      fontFamily: "Lato",
    },
    responsive: true,
    maintainAspectRatio: false,
  }
    };

    var config1 = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ rdata|safe }},
          backgroundColor: [
          "rgba(255, 99, 132)",
          "rgba(54, 162, 235)",
          "rgba(255, 206, 86)",
          "rgba(75, 192, 192)",
          "rgba(153, 102, 255)",
         "rgba(255, 159, 64)",
      ],borderColor: [
    "rgba(255, 99, 132, 1)",
    "rgba(54, 162, 235, 1)",
    "rgba(255, 206, 86, 1)",
    "rgba(75, 192, 192, 1)",
    "rgba(153, 102, 255, 1)",
    "rgba(255, 159, 64, 1)",
  ],
  borderWidth: 1,
  hoverBorderWidth: 3,
  hoverBorderColor: "#000",
      label: 'إجمالي ايرادات التحصيل'
          }],
    labels: {{ rlabels|safe }}
        },
    options: {
      title: {
        display: false,
        text: "إجمالي إيرادات التحصيل ",
        fontFamily: "Lato",
      },
      tooltips: {
        callbacks: {
              label: function(tooltipItem, data) {
                  var value = data.datasets[0].data[tooltipItem.index];
                  if(parseInt(value) >= 1000){
                             return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          } else {
                             return 'د.ل' + value;
                          }
              }
        } // end callbacks:
      }, //end tooltips  
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
              callback: function(value, index, values) {
                if(parseInt(value) >= 1000){
                   return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                   return 'د.ل' + value;
                }
           } 
            },
          },
        ],
      },
    }
      };

var config2 = {

  type: 'bar',
  data: {
    labels: {{ total_invoice_label|safe }},
    datasets: [
      {
        label: "المبيعات",
        backgroundColor: "#3e95cd",
        data: {{ total_invoice|safe }}
      }, {
        label: "المبالغ المحصلة",
        backgroundColor: "#8e5ea2",
        data: {{ total_receipt|safe }}
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'الايرادات والمبالغ المحصلة '
    },
    responsive: true,
    maintainAspectRatio: false,
  }
};
  var total_invoices_by_catogry = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ cat_data|safe }},
        backgroundColor: [
        "rgba(255, 99, 132,0.8)",
        "rgba(54, 162, 235,0.8)",
        "rgba(255, 206, 86)",
        "rgba(75, 192, 192)",
        "rgba(153, 102, 255)",
       "rgba(255, 159, 64)",
  ],borderColor: [
  "rgba(255, 99, 132, 1)",
  "rgba(54, 162, 235, 1)",
  "rgba(255, 206, 86, 1)",
  "rgba(75, 192, 192, 1)",
  "rgba(153, 102, 255, 1)",
  "rgba(255, 159, 64, 1)",
],
borderWidth: 1,
hoverBorderWidth: 3,
hoverBorderColor: "#000",
    label: 'إجمالي الإيرادات حسب تصنيف الزبائن'
        }],
  labels: {{ cat_label|safe }}
      },
  options: {
    title: {
      display: true,
      text: "إجمالي الإيرادات حسب تصنيف الزبائن ",
      fontFamily: "Lato",
    },
    responsive: true,
    maintainAspectRatio: false,
    tooltips: {
      callbacks: {
            label: function(tooltipItem, data) {
                var value = data.datasets[0].data[tooltipItem.index];
                if(parseInt(value) >= 1000){
                           return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        } else {
                           return 'د.ل' + value;
                        }
            }
      } // end callbacks:
    }, //end tooltips  
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
            callback: function(value, index, values) {
              if(parseInt(value) >= 1000){
                 return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              } else {
                 return 'د.ل' + value;
              }
         } 
          
          },
        },
      ],
    },
  }
    };
    var sales_last_year = {
      type: 'bar',
      data: {
        labels: ['الفترة الأولى', 'الفترة الثانية', 'الفترة الثالثة', 'لفترة الرابعة'],
        datasets: [
          {
            label: 'العام الماضي',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            data: [28, 48, 40, 19]
          },
          {
            label: 'هذا العام',
            backgroundColor: 'rgba(210, 214, 222, 1)',
            borderColor: 'rgba(210, 214, 222, 1)',
            pointRadius: false,
            pointColor: 'rgba(210, 214, 222, 1)',
            pointStrokeColor: '#c1c7d1',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(220,220,220,1)',
            data: [65, 59, 80, 81]
          },
        ]
    
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
            }
          }],
          yAxes: [{
            gridLines: {
              display: false,
            }
          }]
        }
      }
    };
    
      window.onload = function () {
        var ctx = document.getElementById('invoice-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        var ctx1 = document.getElementById('receipt-chart').getContext('2d');
        window.myPie = new Chart(ctx1, config1);
        var ctx2 = document.getElementById('bar-chart-grouped').getContext('2d');
        window.myPie = new Chart(ctx2, config2);
        var ctx3 = document.getElementById('invoice-catagory-amount').getContext('2d');
        window.myPie = new Chart(ctx3, total_invoices_by_catogry);
        var sales_lastyear = document.getElementById('sales-lastyeart').getContext('2d');
        window.myPie = new Chart(sales_lastyear, sales_last_year);
        
      };
      
  
</script>

{% endblock content %}

