{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}



<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <a href="javascript:void(0);"></a>
              <h3 class="card-title1 ">تقرير المبيعات</h3>
            </div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
              <form action="{% url 'sales_report' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-start text-right">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label >تصنيف الزبائن</label>
                      <select class="form-control"  name="cat">
                        
                        {% for cat in customer_cat %}
                        <option value="{{cat.id}}">{{cat.type_desc}}</option>
                          
                        {% endfor %}
                          
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label for="year">السنة</label>
                      <input type="number" class="form-control text-right   bg-white" id="year"
                        name="year" placeholder="السنة">
                            </div>
                  </div>                

                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label>الفترة</label>
                      <select class="form-control" name='priod'>
                        <option value="0">عرض الكل</option>
                        <option value="1">الربع الأول</option>
                        <option value="2">الربع الثاني</option>
                        <option value="3">الربع الثالث</option>
                        <option value="4">الربع الرابع</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-outline-primary btn-lg">عرض النتيجة</button>
            </form>

            <div class="chart">
              <canvas id="invoice-chart" height="500"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>

    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<script>

  var config = {
    type: 'doughnut',
    data: {
      datasets: [{
        data: {{ data| safe }
  },
    backgroundColor: [
      "rgba(255, 99, 132)",
      "rgba(54, 162, 235)",
      "rgba(255, 206, 86)",
      "rgba(75, 192, 192)",
      "rgba(153, 102, 255)",
      "rgba(255, 159, 64)",
    ], borderColor: [
      "rgba(255, 99, 132, 1)",
      "rgba(54, 162, 235, 1)",
      "rgba(255, 206, 86, 1)",
      "rgba(75, 192, 192, 1)",
      "rgba(153, 102, 255, 1)",
      "rgba(255, 159, 64, 1)",
    ],
    borderWidth: 1,
    hoverBorderWidth: 3,
    hoverBorderColor: "#000",
    label: 'إجمالي المبيعات'
        }],
  labels: { { labels | safe } }
      },
  options: {
    title: {
      display: true,
        text: "إجمالي المبيعات ",
          fontFamily: "Lato",
    },
    responsive: true,
      maintainAspectRatio: false,
  }
    };


  window.onload = function () {
    var ctx = document.getElementById('invoice-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };


</script>

{% endblock content %}