{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}



<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <a href="javascript:void(0);"></a>
              <h3 class="card-title1 ">تقرير المبيعات</h3>
            </div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
              <form action="{% url 'sales_report' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-start text-right">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label >تصنيف الزبائن</label>
                      <select class="form-control"  name="cat">
                        
                        {% for cat in customer_cat %}
                        <option value="{{cat.pk}}"
                        {% if cat.pk == cat_set %}
                        selected 
                        {% endif %}
                          >{{cat.type_desc}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label for="year">السنة</label>
                      <input type="number" class="form-control text-right   bg-white" id="year"
                        name="year" placeholder="السنة" 
                        {% if year %}
                        value = "{{year}}"
                          
                        {% endif %}
                          >
                            </div>
                  </div>                

                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label>الفترة</label>
                      <select class="form-control" name='priod'>
                        <option value="0"{% if priod == 0 %} selected {% endif %}>عرض الكل</option>
                        <option value="1"{% if priod == 1 %} selected {% endif %}>الربع الأول</option>
                        <option value="2"{% if priod == 2 %} selected {% endif %}>الربع الثاني</option>
                        <option value="3"{% if priod == 3 %} selected {% endif %}>الربع الثالث</option>
                        <option value="4"{% if priod == 4 %} selected {% endif %}>الربع الرابع</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-outline-primary btn-lg">عرض النتيجة</button>
            </form>
            {% if total_sales %}
              <br>
              <hr>
              <h4 class="text-right text-success">إجمالي المبيعات  : {{total_sales}}</h4>
              <hr>
              <br>
            {% endif %}

            <div class="chart">
              <canvas id="invoice-chart" height="500"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>

    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<script>
function poolColors(a) {
  var pool = [];
  for(i = 0; i < a; i++) {
      pool.push(getRandomColor());
  }
  return pool;
}
  function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
  var config = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor:  poolColors(100),
        borderColor: poolColors(100),
borderWidth: 1,
hoverBorderWidth: 3,
hoverBorderColor: "#000",
    label: 'إجمالي المبيعات'
        }],
  labels: {{ labels|safe }}
      },
  options: {
    title: {
      display: true,
      text: "إجمالي المبيعات ",
      fontFamily: "Lato",
    },
    tooltips: {
      callbacks: {
            label: function(tooltipItem, data) {
                var value = data.datasets[0].data[tooltipItem.index];
                if(parseInt(value) >= 1000){
                           return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        } else {
                           return 'د.ل' + value;
                        }
            }
      } // end callbacks:
    }, //end tooltips      
    responsive: true,
    maintainAspectRatio: false,
  }
    };


  window.onload = function () {
    var ctx = document.getElementById('invoice-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };


</script>

{% endblock content %}