{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}



<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="d-flex justify-content-center">
              <a href="javascript:void(0);"></a>
              <h3 class="card-title1 ">تقرير الإيرادات والمبالغ التي تم تحصيلها</h3>
            </div>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
              <form action="{% url 'total_inv_rec_report' %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-start text-right">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label >تصنيف الزبائن</label>
                      <select class="form-control"  name="cat">
                        
                        {% for cat in customer_cat %}
                        <option value="{{cat.pk}}"
                        {% if cat.pk == cat_set %}
                        selected 
                        {% endif %}
                          >{{cat.type_desc}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label for="year">السنة</label>
                      <input type="number" class="form-control text-right   bg-white" id="year"
                        name="year" placeholder="السنة" 
                        {% if year %}
                        value = "{{year}}"
                          
                        {% endif %}
                          >
                            </div>
                  </div>                

                  <div class="col-md-3 ">
                    <div class="form-group">
                      <label>الفترة</label>
                      <select class="form-control" name='priod'>
                        <option value="0"{% if priod == 0 %} selected {% endif %}>عرض الكل</option>
                        <option value="1"{% if priod == 1 %} selected {% endif %}>الربع الأول</option>
                        <option value="2"{% if priod == 2 %} selected {% endif %}>الربع الثاني</option>
                        <option value="3"{% if priod == 3 %} selected {% endif %}>الربع الثالث</option>
                        <option value="4"{% if priod == 4 %} selected {% endif %}>الربع الرابع</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-block btn-outline-primary btn-lg">عرض النتيجة</button>
                <div class="row">
                  <div class="col-12">
                    <!-- /.card -->
                    <div class="card-body table-responsive p-0 text-center" style="height: 300px;">
                      <table class="table table-bordered table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th >الرصيد</th>
                            <th>إجمالي المبالغ المحصلة</th>
                            <th>إجمالي قيمة الفواتير</th>
                            <th>إسم لزبون</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for customer in customer_blance %}
                          <tr>
                            <td>{{customer.c_balance}}</td>
                            <td>
                              {{customer.total_receipt}}
                            </td>
                            <td><a href="{% url 'customer_balance' customer.customer_id priod %}"  id="customer_invoices">{{customer.total_invoice}}</a>  </td>
                            <td><a href="{% url 'customer_balance' customer.customer_id priod %}"  id="customer_invoices">{{customer.customer_name}}</a>  </td>
                          </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            </form>
            {% if total_sales %}
              <br>
              <hr>
              <h4 class="text-right text-primary">إجمالي المبيعات  : {{total_sales}}</h4>
              <h4 class="text-right text-success">إجمالي المبالغ المحصلة : {{total_receipt}}</h4><hr>
              <h4 class="text-right text-danger">إجمالي المبالغ المستحقة : {{balance}}</h4>
              <hr>
              <br>
            {% endif %}

            <div class="chart">
              <canvas id="invoice-chart" height="500"></canvas>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>

    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>

<script>
function poolColors(a) {
  var pool = [];
  for(i = 0; i < a; i++) {
      pool.push(getRandomColor());
  }
  return pool;
}
  function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
var config = {

    type: 'bar',
    data: {
      labels: {{ ilabels|safe }},
      datasets: [
        {
          label: "المبيعات",
          backgroundColor: '#1E90FF',
          data: {{ idata|safe }}
        }, {
          label: "المبالغ المحصلة",
          backgroundColor: '#228B22',
          data: {{ rdata|safe }}
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'الايرادات والمبالغ المحصلة '
      },
      tooltips: {
        callbacks: {
              label: function(tooltipItem, data) {
                  var value = data.datasets[0].data[tooltipItem.index];
                  if(parseInt(value) >= 1000){
                             return 'د.ل' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                          } else {
                             return 'د.ل' + value;
                          }
              }
        } // end callbacks:
      }, //end tooltips   
      responsive: true,
      maintainAspectRatio: false,
    }
  };


  window.onload = function () {
    var ctx = document.getElementById('invoice-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };


</script>

{% endblock content %}