{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
  <div class="card card-primary ">
    <div class="card-header">
      <h3 class="card-title">دليل الزبائن</h3>
    </div>
    <div class="card-body ">
      <form class="my-form" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
          {% if field.name == 'is_active' %}
          <div class="icheck-primary d-inline">
            <input type="checkbox" id="id_{{ field.name }}" checked="{{ field.value }}" name="{{ field.name }}" value="{{ field.value|default:'True' }}">
            <label for="id_{{ field.name }}">{{ field.label }}
            </label>
          </div>
          {% else %}
          <label class="col-12 col-form-label text-right" for="id_{{ field.name }}">{{ field.label }}</label>
          <div class="col-12">
            <input type="{{ field.field.widget.input_type }}" class="form-control text-right  shadow p-4 mb-4 bg-white"
              name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value|default:'' }}">
          </div>
          {% endif %}
          <div class="col-12 help-text">{{ field.help_text }} </div>
          
        </div>
        {% endfor %}
        <!-- <div class="card-footer"> -->
        <!-- <div class="col-12 "> -->
        <button type="submit" class="btn btn-success btn-lg float-right">حفظ التعديلات</button>
        <a class="btn btn-danger btn-lg float-left" href="{% url 'customer_list' %}">العودة إلى القائمة</a>

        <!-- </div> -->
        <!-- </div> -->
      </form>
    </div>
  </div>
</div>

</div>
{% endblock %}